<div class="card">
    <div class="card-body">
        <h1 class="card-title">Add Transaction</h1>
        <form [formGroup]="" autocomplete="off" novalidate>

        </form>
    </div>
</div>

<br>

<table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Account from</th>
        <th scope="col">Account to</th>
        <th scope="col">Sum from</th>
        <th scope="col">Sum to</th>
        <th scope="col">Type</th>
        <th scope="col">Date time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ledger of ledgers">
            <th scope="col">{{ledger.id}}</th>
            <td>{{ledger.accountNameFrom}} ({{ledger.currencyFrom}})</td>
            <td>{{ledger.accountNameTo}} ({{ledger.currencyTo}})</td>
            <td>{{ledger.ammountFrom}} {{ledger.currencyFrom}}</td>
            <td>{{ledger.ammountTo}} {{ledger.currencyTo}}</td>
            <td style="color: green;" *ngIf="ledger.typeString === 'Debet'"><b>{{ledger.typeString}}</b></td>
            <td style="color: red;" *ngIf="ledger.typeString === 'Credit'"><b>{{ledger.typeString}}</b></td>
            <td>{{ledger.dateTime | date}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
