
  <ul class="menu-2">
     <img class="logo ml-5" src="https://sun9-77.userapi.com/s/v1/if2/VCmU3I_Tw5hoI7f6dMDcOLY6Z5kevwgyUEdP_9FKS9C_qkoPP5nr_sxZiQ52pYotFHi7BZuJmrcGECww-6cBuSqT.jpg?size=798x914&quality=96&type=album">
     <li><a routerLink="/home">Main page</a></li>
     <li><a href="#">My categories</a></li>
     <li><a href="#">My subcategories</a></li>
     <li><a href="#">My accounts</a></li>
     <li><a href="#">My transactions</a></li>
     <li><a href="#">My reports</a></li>
     <li *ngIf="!isUserAuthenticated"><a routerLink="/authentication/login">Login</a></li>
     <li *ngIf="!isUserAuthenticated"><a routerLink="/authentication/register">Register</a></li>
     <li *ngIf="isUserAuthenticated"><a routerLink="" (click)="logout()">Logout</a></li>
  </ul>